@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Miniver&family=Montserrat:wght@100..900&family=Open+Sans:ital@1&display=swap');

/*-- VARIABLES CSS--*/
/*Colour Palette*/
:root{
    --first-color: #E3F8FF;
    --second-color: #DCFAFB;
    --third-color: #FFE8DF;
    --fourth-color: #cfbaf0;
    --accent-color: #FF5151;
    --dark-color: #161616;
}

/*Responsive Typography*/
:root{
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}
@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

/*-- BASE --*/
*,::after,::before{
    box-sizing: border-box;
}

body {
    margin: 2rem 0 0 0;
    background-color: #fff;
    color: var(--dark-color);
    font-family: var(--body-font);
}

h1 {
    font-size: var(--h1-font-size);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

a{
    text-decoration: var(--normal-font-size);
}

/* LAYOUT */
.main {
    padding: 2rem 0;
}

.bd-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 2480px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}

/* PAGES */

.shop-title {
    position: relative;
    margin: 0 2.5rem;
}

.shop-title::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 72px;
    height: 72px;
    margin-left: .25rem;
}

/* COMPONENTS */
.card {
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

article:nth-child(1) {
    background-color: var(--first-color);
}

article:nth-child(2) {
    background-color: var(--second-color);
}


article:nth-child(3) {
    background-color: var(--third-color);
}


article:nth-child(4) {
    background-color: var(--fourth-color);
}

.card-image {
    width: 250px;
    height: auto;
    padding: 3rem 0;
    transition: .5s;
}

.card-name {
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: bold;
    transition: .5s;
}

.card-icon {
    font-size: 1.5rem;
    color: var(--dark-color);
}

.card-icon:hover {
    color: var(--accent-color);
}

.card-price {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

.card-price--before {
    text-decoration: line-through;
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: .25rem;
}

.card-price--now {
    font-size: var(--h3-font-size);
    font-weight: bold;
}

.card:hover {
    box-shadow: 0 .5rem 1rem #D1D9E6;
}

.card:hover .card-name {
    left: 0;
}

.card:hover .card-image {
    transform: rotate(20deg);
    margin-left: 3.5rem;
}


.card:hover .card-price {
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

/* MEDIA QUERIES */
@media screen and  (min-width: 2480px) {
    body {
        margin: 3rem 0 0 0;
    }

    .shop-title {
        margin: 0 5rem ;
    }

    .bd-grid {
        margin-left: auto;
        margin-left: auto;
    }
}



